@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2|Baloo+Thambi+2&display=swap');

body {
    font-family: 'Baloo Thambi 2', cursive;
    background: #dee9ff;
    margin-left: 20vw;
    margin-right: 20vw;
}

header h1 {
    text-align: center;
    width: auto;
}

header img {
    display: block;
    margin: auto;
    width: 150px;
    text-align: center;
}

#intro {
    text-align: center;
}

#btns {
    text-align: center;
    
}

#btns #donwload {
    background: #4CAF50;
    border-radius: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
}

#btns #source {
    background: #0077FF;
    border-radius: 12px;
    margin-left: 5px;
    margin-top: 5px;
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: inline-block;
}

#bottom-line {
    font-family: 'Baloo Da 2', cursive;
    text-align: center;
  }

  #arun:hover{
    color:red;
  }
  #arun{
      text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    body {
        width: fit-content;
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

